span {
  font-size: 13px;
  margin-right: 10px;
}

.nav-bar-collapse-icon {
  /* margin-left: 50px; */
  font-size: 11px;
  margin-bottom: 2px;
}

.nav-bar-dropdown-conatainer {
  display: flex;
  justify-content: space-between;
}

.nav-bar-collapse {
  padding: 0;
}

ul {
  list-style: none;
}

.icon-name:hover {
  color: white;
}

.nav-bar-collapse-icon:hover {
  color: white;
}

.nav-bar-dropdown-list {
  padding: 0;
}

@media only screen and (max-width: 1259px) {
  .nav-bar-dropdown-icon {
    font-size: 1em;
  }
  .nav-dropdown-item {
    display: none;
  }

  .dropdown-nav-bar {
    display: none;
  }

  .nav-bar-collapse {
    display: none;
  }
}
