.navbarCollapse {
  transition: 0.3s ease;
}
.nav-bar {
  width: 100%;
  background-color: #2f4050;
  height: 100% !important;
  transition: 0.3s ease;
}

.nav-bar-item {
  padding: 14px 20px 14px 25px;
  color: rgb(167, 177, 194);
  font-size: 15px;
  font-weight: 650px !important;
  text-decoration: none;
}
.side-bar-nav-item {
  font-weight: bold;
  transition: 0.4s ease;
}
.flex-column > a:hover {
  text-decoration: none;
}

.flex-column .active {
  background-color: rgb(38, 57, 73);
  border-left: 2.5px solid rgb(0, 119, 154);
}

.nav-bar-item:hover {
  background-color: rgb(38, 57, 73);
  color: white;
  cursor: pointer;
}

.nav-bar-li {
  padding: 14px 20px 0px 25px;
  font-weight: bold;
  font-size: 13px;
}

.logo-visible {
  width: 100%;
}

.logo-hidden {
  display: none;
}

.logo- .flex-column a:hover {
  text-decoration: none;
}

.small-logo {
  display: none;
}

.small-logo-visible {
  width: 100%;
}

.side-bar-nav-item-collapse {
  display: none;
}

.side-nav-bar-icon {
  font-size: 16px;
}

@media only screen and (max-width: 1259px) {
  .nav-bar {
    width: 100%;
  }

  .logo-visible {
    display: none;
  }
  .small-logo {
    display: block;
    width: 100%;
  }
  .side-nav-bar-icon {
    font-size: 1em;
  }
  .side-bar-nav-item {
    display: none;
  }
  /* .nav-bar-item {
    margin: 0.5em auto;
    padding: 0px;
  } */
  .side-nav-bar-icon {
    margin: 0;
  }
  /* a{
    padding-left: 21px;
  } */
}


