.create-auto-invest-card {
  border-top: 3px solid #dfdfdf !important;
}

.create-auto-invest-title,
.portfolio-title {
  padding: 1em;
  color: #676a6c;
  border-bottom: 0.5px solid #dfdfdf;
}
.create-auto-invest-title{
margin-bottom: 0 !important;
}

.create-auto-invest-text {
  padding: 0.5em 1em;
  color: #676a6c;
  margin: 0;
}

.create-auto-invest-btn {
  margin: 1em;
  border-radius: 50px !important;
}

.add-icon {
  margin-right: 6px;
}
