.row-1 {
  width: 100%;
  background-color: white;
  margin: 0;
  padding: 0.75em 0px 0.75em 1.5em;
  border-top: 0.5px solid #8080808c;
  border-bottom: 0.5px solid #8080808c;
}

.auto-invest-heading {
  color: #676a6c;
  font-size: 24px;
  margin-bottom: 8px;
  font-weight: 100;
}
.breadcrumb {
  background-color: white !important;
  padding: 0px !important;
  margin: 0 !important;
  margin-bottom: 8px !important;
}

.active-state {
  font-weight: bold;
}

.breadcrumb > * {
  color: #676a6c;
  font-size: 13px;
}
