.row-2 {
  width: 98%;
  background-color: white;
  border-top: 0.5px solid #8080808c;
  text-align: center;
  padding: 10px;
  display: flex;
  flex-direction: column;
  margin-right: auto;
  margin-left: auto;
  align-items: center;
}

.loan-portfolio-heading {
  color: #676a6c;
  font-weight: 100;
  font-size: 1.5em;
}

.description {
  margin: 2px;
  font-size: 13px;
  color: #676a6c;
}
