.btn-secondary {
  background-color: #3a779a !important;
  border: none !important;
  padding: 0px 12px;
}

.header {
  display: flex;
  justify-content: space-between;
  margin: 1em;
}

.notification-button {
  position: relative;
  padding: 0px !important;
  margin-left: 18px;
}
.btn .badge {
  top: -11px !important;
  left: -4px !important;
}

.bell-icon,
.signout-icon {
  color: #999c9e;
}

.signout-icon {
  margin-right: 0.25em;
}

.logout-btn {
  color: #999c9e !important;
  font-weight: bold !important;
  text-decoration: none !important;
  padding: 0px !important;
}

.logout-btn:hover {
  text-decoration: none !important;
}

.header-nav-list {
  display: flex;
  align-items: center;
}

.user-icon-button {
  padding: 0px !important;
}

.user-icon {
  color: #999c9e;
}

.user-list-item {
  display: none;
}

@media only screen and (max-width: 375px) {
  .dropdown-list-item {
    display: none;
  }

  .user-list-item {
    display: inline-block;
    margin-right: 18px;
  }
}

@media only screen and (max-width: 320px){
.header{
  justify-content: flex-start;
}
.header-nav-list{
  padding: 0%;
}
}